@import 'styles/colors';
@import 'styles/fonts';

&.dark {
  background-color: @darkModal;
}

&.light {
  background-color: @lightModal;
}

.modalWindow {
  transition: all 1s ease 0s;
  margin: 0 auto auto;
  width: 500px;
  height: 250px;

  .inputBox {
    width: 480px;
    height: 100px;
    max-width: 100%;
    margin: auto;
    display: flex;

    .input {
      word-spacing: 10px;
      margin: auto;
      width: 440px;
      height: 100px;
      border: none;
      outline: none;
      font-family: @tetrisFont;
      font-size: 20px;
    }

    .input::placeholder {
      color: inherit;
      text-align: center;
      font-family: @tetrisFont;
      word-spacing: 10px;
      font-size: 20px;
    }
  }

  .enterButton {
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    height: 100px;
    width: 100px;
    transition: 1s;
    margin: 50px auto auto;

    .enterIcon {
      margin: auto;
      font-size: 60px;
    }
  }

  .enterButton:disabled {
    cursor: auto;
    background-color: grey;
  }

  &.dark {
    background-color: @bgColorDark;
  }

  &.light {
    background-color: @bgColorLight;
  }
}

&.dark {
  background-color: @purpleDark;
  color: @textColorDark;
}

&.light {
  background-color: @purpleLight;
  color: @textColorLight;
}
