@import "styles/colors";
@import "styles/vars";

.container {
  display: flex;
  height: 100%;
  padding: @appPaddingSize;

  &.dark {
    color: @purpleLight;
  }

  &.light {
    color: @purpleDark;
  }
}

.boardSection {
  display: flex;
  width: 40%;
}

.rightSection {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 25%;
}

.leftSection {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.optionSection {
  margin-left: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 9%;
  min-width: 165px;
}

@media screen and (max-width: 1700px) {
  .optionSection {
    flex-direction: column;
    justify-content: flex-start;
    width: 5%;
    min-width: 80px;
  }
}

.title {
  font-size: 18px;
  margin-bottom: 16px;
}

.text {
  margin-bottom: 12px;
}
