// Main colors

@bgColorDark: #000000;
@bgColorLight: #FCFFF4;
@textColorDark: #FFF;
@textColorLight: #000000;
@purpleDark: #5A0FB9;
@purpleLight: #E2CBFF;
@logoColor: #FF4141;

// Tetramino colors

@tetramino-colors: {
  @purple: #7119a7;
  @green: #48B116;
  @orange: #FDA420;
  @red: #C72907;
  @yellow: #E3DA07;
  @blue: #1E45D0;
}

each(@tetramino-colors {
  .@{key} {
    background-color: @value;
  }

  .dark-@{key} {
    background-color: darken(@value, 20%);
  }
});

//@darkPurple: #5d0692;
//@purpleShadow: #481567;
//
//@darkGreen: #0B8E00;
//@greenShadow: #04500a;
//
//@darkOrange: #D88A16;
//@orangeShadow: #9c6124;
//
//@darkRed: #9B2424;
//@redShadow: #631111;
//
//@darkYellow: #C7C015;
//@yellowShadow: #7b7d0f;
//
//@darkBlue: #082BA7;
//@blueShadow: #001e75;
