// Main colors

@bgColorDark: #000000;
@bgColorLight: #FCFFF4;
@textColorDark: #FFF;
@textColorLight: #000000;
@purpleDark: #5A0FB9;
@purpleLight: #E2CBFF;
@logoColor: #FF4141;

// Tetramino colors

@tetramino-colors: {
  purple: #7119a7;
  green: #48B116;
  orange: #FDA420;
  red: #C72907;
  yellow: #E3DA07;
  blue: #1E45D0;
}

each(@tetramino-colors {
  .@{key} {
    background-color: @value;
  }

  .dark_@{key} {
    background-color: darken(@value, 7%);
  }

  .@{key}Shadow {
    width: 40px;
    height: 40px;
    background: linear-gradient(0, fade(@value, 50%), rgba(0, 0, 0, 0));
  }
});
