@import 'styles/colors';

.startGameBox {
  width: 80px;
  height: 80px;
  background-color: @purpleDark;
  color: white;
  cursor: pointer;

  .startGameIcon {
    margin: auto;
    font-size: 80px;
  }
}

@media screen and (max-width: 1600px) {
  .startGameBox {
    width: 60px;
    height: 60px;
    margin: 0;

    .startGameIcon {
      font-size: 60px;
    }
  }
}
